<!-- Navigation -->

  
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('../../assets/slider/construction-002.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Construire. Rénover. Innover.</h2>
            <p class="lead">Faîtes nous confiance dans la réalisation de vos villas, studios, immeubles ou encore dans la rénovation de vos vieilles bâtisses...</p>
            <button mat-raised-button routerLink="/about">En savoir plus</button>
        </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../../assets/slider/macon.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">BTP en Martinique.</h2>
            <p class="lead">Fort-de-France, François, Robert, Lamentin, Vauclin, Marin et bien d'autres communes sont porteurs de projets de JD BTP Caraibes. Pourquoi pas vous ?</p>
            <button mat-raised-button routerLink="/about">En savoir plus</button>  
        </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../../assets/slider/excavator-001.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Particulier ou Entreprise.</h2>
            <p class="lead">Nos services sont proposés à tous. Nous sommes contacté par des particuliers ainsi que des entreprises. Parlons ensemble de votre projet et réalisons-le ensemble.</p>
            <button mat-raised-button routerLink="/about">En savoir plus</button>  
        </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>  
        </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-2">
    <div class="container">
      <h1 class="display-4">Une PME à votre écoute.</h1>
      <p class="lead">Le BTP, on en fait une affaire professionnelle ! Efficacité, propreté et expertise sont les maîtres mots.</p>
    </div>
  </section>