
<!-- Footer -->
<footer class="page-footer">

    <div class="footer-column">
        <img src="../../assets/logo_jdbtp_001.png"/>
        <div class="slogan-row">
            <span></span>
            <p>Construisons, Ensemble.</p>
            <span></span>
        </div>
    </div>


<div class="coord-row">
    <p> Mail : infos@jdbtp-caraibes.fr </p>
    <p> Téléphone : 0696 00 93 39</p>
    <p> Bureau : Quartier Mont Vert, 97231 Le Robert </p>
</div>

<a href="" routerLink="/legalMention" style="border-bottom: 2px solid ; ">Mention légales</a>

    <!-- Copyright -->
    <div class="icon-citation"><p>Icons made by <a href="https://www.flaticon.com/authors/wanicon" title="wanicon">wanicon</a>, 
        <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a> 
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> & Photo de Rodolfo Quirós, Anamul Rezwan provenant de Pexels</p></div>
    
    <div class="footer-copyright"><p>© 2020 Copyright:
    <i> JD-BTP-Caraibes.com</i></p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->