
<!-- Footer -->
<footer class="page-footer">

    <div class="footer-column">
        <img src="../../assets/logo_jdbtp_001.png"/>
        <div class="slogan-row">
            <span></span>
            <p>Construisons, Ensembles.</p>
            <span></span>
        </div>
    </div>


<div class="coord-row">
    <p> Mail : infos@jdbtp-caraibes.fr </p>
    <p> Téléphone : 06 12 34 56 78</p>
    <p> Bureau : Quartier Bois Neuf 97240, Le François </p>
</div>

    <!-- Copyright -->
    <div class="icon-citation">Icons made by <a href="https://www.flaticon.com/authors/wanicon" title="wanicon">wanicon</a>, <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

    <div class="footer-copyright">© 2020 Copyright:
      <i> JD-BTP-Caraibes.com</i>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->