.prestation{
    display: flex;
    flex-direction: column;
    max-height: 10%;
    max-width: 250px;
    padding: 20px;
    margin: 10px;
}

.h3 {
    font-weight: bold;
    font-family: "Teko", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica";
}

img {
    height: 60px;
    width: 60px;
    margin-left: 3%;
    margin-bottom: 3%;
}

.container-image{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.container-image span{
    height: 3%;
    width: 3%;
    background-color: orange;
    position: absolute;
    opacity: 0.5;
}

.img:hover{
    animation: bounce2 0.7s ease infinite;
}

.prestation h3:hover{
    color: orange;
}

@keyframes bounce2{
    from {top: 106px;}
    50%  {top: 86px;}
    to   {top: 106px;}
}

@keyframes bounce{
    0%{
        width: 0%;
        padding-top: 15px;
        
    }
  100%{
      width: 100%;
      padding-top: 0px;
  }
}
