
    <div class="banner1">
        <img src={{test}} alt="IMAGE SLIDER"/>
        <div class="text-box">
            <h1> Construire. Rénover. Innover.</h1>
            <span></span>
            <p> Faîtes nous confiance dans la réalisation de vos villas, studios, immeubles ou encore dans la rénovation de vos vieilles bâtisses... </p>
            <button mat-raised-button routerLink="/about">En savoir plus</button>
    </div>
    <div class="banner2">
        <img src={{test2}} alt="IMAGE SLIDER 2"/>
        <div class="text-box">
            <h1> Une expertise.</h1>
            <span></span>
            <p>JDBTP c'est avant tout une expertise. Fondée en 2018, elle a déjà réalisé plus d'une vingtaine de projets. Pas mal pour une petite entreprise, non ?</p>
            <button mat-raised-button routerLink="/about">En savoir plus</button>

        </div>
    </div>
    <div class="banner3">
        <img src={{test3}} alt="IMAGE SLIDER 3"/>
        <div class="text-box">
            <h1> Particulier ou Entreprise.</h1>
            <span></span>
            <p>Nos services sont proposés à tous. Nous sommes contacté par des particuliers ainsi que des entreprises. Parlons ensemble de votre projet et réalisons-le ensemble.</p>            
            <button mat-raised-button routerLink="/about">En savoir plus</button>

        </div>
    </div>
    <div class="banner4">
        <img src={{test4}} alt="IMAGE SLIDER 3"/>
        <div class="text-box">
            <h1> BTP en Martinique.</h1>
            <span></span>
            <p> Fort-de-France, François, Robert, Lamentin, Vauclin, Marin et bien d'autres communes sont porteurs de projets de JD BTP Caraibes. Pourquoi pas vous ? </p>
            <button mat-raised-button routerLink="/about">En savoir plus</button>

        </div>
    </div>