

<div>
    <div class="banner1">
        <img src={{test}} alt="IMAGE SLIDER"/>
        <div class="text-box">
            <h1> Construire. Rénover. Innover</h1>
            <span></span>
            <p> Faîtes nous confiance dans la réalisation de vos villas, studios, immeubles ou encore dans la rénovation de vos vieilles bâtisses... </p>
            <button mat-raised-button>En savoir plus</button>
    </div>
    <div class="banner2">
        <img src={{test2}} alt="IMAGE SLIDER 2"/>
        <div class="text-box">
            <h1> Une expertise.</h1>
            <span></span>
            <p>JDBTP c'est avant tout une expertise. Fondée en 2018, elle a déjà réalisé plus d'une vingtaine de projets. Pas mal pour une petite entreprise, non ?</p>
            <button mat-raised-button>En savoir plus</button>

        </div>
    </div>
    <div class="banner3">
        <img src={{test3}} alt="IMAGE SLIDER 3"/>
        <div class="text-box">
            <h1> Particulier ou Entreprise.</h1>
            <span></span>
            <p>Nos services sont proposés à tous. Nous sommes contacté par des particuliers ainsi que des entreprises. Parlons ensemble de votre projet et réalisons-le ensembles.</p>            
            <button mat-raised-button>En savoir plus</button>

        </div>
    </div>
    <div class="banner4">
        <img src={{test4}} alt="IMAGE SLIDER 3"/>
        <div class="text-box">
            <h1> Slider 4</h1>
            <span></span>
            <p> Vivamus id neque non diam aliquam sagittis id sed erat. Quisque nisl sem, placerat eu magna vel, facilisis pretium felis. Morbi vitae ipsum et lacus egestas dapibus quis ac erat. Fusce non orci elementum, elementum quam a, ullamcorper mi. Integer pharetra non felis ut dapibus. Aenean molestie elit ipsum, pharetra gravida mi lacinia at. Phasellus nec est convallis, vestibulum felis non, scelerisque sapien. Etiam diam sem, semper vel varius eu, sollicitudin eu lorem. Vivamus dictum purus nec urna pellentesque condimentum. Maecenas aliquam imperdiet porttitor.</p>
            <button mat-raised-button>En savoir plus</button>

        </div>
    </div>
</div>


<p> Photo de Rodolfo Quirós, Anamul Rezwan provenant de Pexels</p>