<h1>Ils en parlent...</h1>
<div class="slideshow-container">

    <div class="mySlides">
      <q>Equipe dynamique, à l'écoute et très efficace dans la réalisation de ma villa F5.</q>
      <p class="author">- John Keats</p>
    </div>
    
    <div class="mySlides">
      <q>Malgré des difficultés dues à un manque de matériel, l'équipe a su s'adapter et tenir au mieux les délais. Je recommande.</q>
      <p class="author">- Ernest Hemingway</p>
    </div>
    
    <div class="mySlides">
      <q>Notre partenariat prouve la confiance qui règne entre nos entreprises.</q>
      <p class="author">- Thomas A. Edison</p>
    </div>
    
    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
    
    </div>
    
    <div class="dot-container">
      <span class="dot" click="currentSlide(1)"></span> 
      <span class="dot" click="currentSlide(2)"></span> 
      <span class="dot" click="currentSlide(3)"></span> 
    </div>