.container-about{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.banner-about{
    display: flex;
    flex-direction: column;
    /* left: 0; */
    /* top: 0; */
    /* margin: 0; */
    /* position: relative; */
    background: url("https://images.unsplash.com/photo-1582547766135-5940c6d3b50d?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
    justify-content: flex-end; 
    text-align: center;
    border-bottom: 3px ridge orange;
    
    height: 26vh;
}

.banner-about h1{
    color: orange;
}

.banner-about a{
    color: orange;
    margin-top: 15%;
    
}

.banner-about a:hover{
    color: grey;
    }

  
.prez-enterprise img {
    height: 200px;
    width: 210px;
    margin: 2%;
}

.prez-enterprise p {
    max-width: 450px;
    padding: 25px;
}

.prez-enterprise{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divider-section {
    height: 3px;
    width: 250px;
    background-color: orange;
    position: absolute;
  }

.about-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 30px;
    padding: 2%;
}

.about-row img{
    width: 20%;
}


.slogan-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.slogan-row p{
    margin-left: 25px;
    margin-right: 25px;
}

.slogan-row span{
    height: 5px;
    width: 100px;
    background-color: orange;
}