

<div class="container-about">

    <div class="banner-about">
        <h1> Qui sommes-nous ? </h1>
        <p><a href="#home" routerLink="/home">Accueil</a> / Qui sommes nous ?</p>
    </div>

    <div class="prez-enterprise">
        <img src="../../assets/logo_jdbtp_001.png">
        <p>JBTP, fondé par DUVILLE George-Marie et JEAN-LOUIS Jean-Philippe en 2016, est une petite entreprise spéialisée dans la construction, rénovation, gros-oeuvre...</p>

    </div>

    <div class="slogan-row">
        <span></span>
        <p>Nos petits plus</p>
        <span></span>
    </div>

    <div class="about-row">
        <mat-card class="example-card">
            <img mat-card-image src="../../assets//icons/client-target.png" alt="Phone">
            <mat-card-content>
              <p>
                Plus de 20 clients satisfaits
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <img mat-card-image src="../../assets//icons/building.png" alt="Phone">
            <mat-card-content>
              <p>
                Près d'une vingtaine de projets réalisés
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <img mat-card-image src="../../assets//icons/construction-worker.png" alt="Phone">
            <mat-card-content>
              <p>
                PME d'environ 15 salariés à votre service
              </p>
            </mat-card-content>
          </mat-card>
    </div>
    

</div>