<mat-toolbar color="primary">
    <img class="logo" src={{imagePath}}>
    <span class="example-spacer"></span>

    <div class="menu-item">
      <p>Qui sommes nous ?</p>
      <span></span>
    </div>

    <span class="example-spacer"></span>

    <div class="menu-item">
      <p>Nos prestations</p>
      <span></span>
    </div>

    <span class="example-spacer"></span>

    <div class="menu-item">
      <p>Nos réalisations</p>
      <span></span>
    </div>

    <span class="example-spacer"></span>

    <div class="menu-item">
      <p>Contacts</p>
      <span></span>
    </div>

    <span class="example-spacer"></span>
    <button mat-raised-button>Demande de devis</button>
    <span class="example-spacer"></span>
  </mat-toolbar>
