<div class="toolbar" id="myToolbar">
    <img class="logo" src={{imagePath}} (click)="redirectToHome()"/>
    <span class="example-spacer"></span>

    <div class="menu-item">
      <p (click)="redirectToAbout()">Qui sommes nous ?</p>
      <span></span>
    </div>

    <span class="example-spacer"></span>


    <div class="menu-item">
      <p (click)="redirectToPrestations()">Nos prestations</p>
      <span></span>
    </div>

    <span class="example-spacer"></span>

    <div class="menu-item">
      <p (click)="redirectToRealisations()">Nos réalisations</p>
      <span></span>
    </div>

    <span class="example-spacer"></span>

    <div class="menu-item">
      <p (click)="redirectToContact()">Contacts</p>
      <span></span>
    </div>

    <span class="example-spacer"></span>
    <button mat-raised-button (click)="redirectToDevis()">Demande de devis</button>
    <span class="example-spacer"></span>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
