
  .toolbar {
    height: 80px;
    position: fixed;
    z-index: 100;
    margin: 0;
    width: 100%  !important;
    background-color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    padding-left: 1%;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 5px !important;
  }

  .logo{
    max-width: 10% !important;
    margin-right: 17% !important;
  }

  .logo:hover {
    cursor: pointer;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  button {
    color: orange;
    font-weight: bold;
  }

  button:hover{
    background-color: orange;
    color: white;
    cursor: pointer;
  }

  .menu-item{
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }

  .menu-item:hover{
    color: orange;
    font-weight: bold;
    cursor: pointer;
  }

  .menu-item p{
    margin-bottom: 10px;
  }

  .menu-item span{
    height: 3px;
    width: 50px;
    position: absolute;
    background-color: orange;
  }

  button {
    height: 50%;

  }

  /* Responsive toolbar */


@media screen and (max-width: 600px) {
  .toolbar p:not(:first-child) {display: none;}
  .toolbar p {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .toolbar.responsive {position: relative;}
  .toolbar.responsive .p {
    position: absolute;
    right: 0;
    top: 0;
  }
  .toolbar.responsive p {
    float: none;
    display: block;
    text-align: left;
  }
}
