<mat-toolbar color="primary">
    <img class="logo" src={{imagePath}}>
    <span class="example-spacer"></span>
    <span>Qui sommes nous ?</span>
    <span class="example-spacer"></span>
    <span>Nos prestations</span>
    <span class="example-spacer"></span>
    <span>Nos réalisations</span>
    <span class="example-spacer"></span>
    <span>Contacts</span>
    <span class="example-spacer"></span>
    <button mat-raised-button>Demande de devis</button>
    <span class="example-spacer"></span>
  </mat-toolbar>
