<div class="container-contact">
    <div class="banner-contact">
        <h1> Contact </h1>
        <p><a href="#home" routerLink="/home">Accueil</a> / Contact </p>
    </div>
</div>

  <div class="row">
    <div class="col-sm" >
      <mat-card class="example-card">
        <img mat-card-image src="../../assets//icons/dial-phone.png" alt="Phone">
        <mat-card-content>
          <p>
            +596 (0)6 12 34 56 78
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="example-card">
        <img mat-card-image src="../../assets//icons/office-worker.png" alt="Phone">
        <mat-card-content>
            <p>
            Quartier Bois Neuf, 97240 Le François, Martinique
            </p>
        </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="example-card">
        <img mat-card-image src="../../assets//icons/mail.png" alt="Mail" (click)="sendMail()">
        <mat-card-content>
            <p>
            infos@jd-btp.caraibes.com
            </p>
        </mat-card-content>
        </mat-card>
    </div>
  </div>

