
<div class="container-devis">
    <div class="banner-devis">
        <h1> Demande de devis </h1>
        <p><a href="#home" routerLink="/home">Accueil</a> / Demande de devis </p>
    </div>
</div>

<h3>Demandez votre devis gratuit !</h3>
<p> Name : {{fname}}, Mail : {{fmail}}, type : {{ftype}}, subject : {{fsubject}} </p>

<div class="container">
  <form (submit)="onSubmit()">
    <label>Nom</label>
    <input [(ngModel)]="fname" required minlength="3" type="text" id="name" name="name" placeholder="Votre nom..">

    <label for="fmail">Email</label>
    <input [(ngModel)]="fmail" required type="text" id="mail" name="mail" placeholder="Votre mail..">

    <label for="works">Type de travaux</label>
    <select [(ngModel)]="ftype" required id="works" name="works">
      <option value="construction">Construction</option>
      <option value="renovation">Rénovation</option>
      <option value="other">Autres</option>
    </select>

    <label for="file">N'hésitez pas à ajouter des photos, plans ou autres documents pouvant aider à la réalisation du devis.</label>
  <!-- in app.component.html -->
<ngx-dropzone (change)="onSelect($event)">
  <ngx-dropzone-label>Cliquer pour ajouter un document ou glisser-le dans la zone.</ngx-dropzone-label>
  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>

    <label for="subject">Description des travaux</label>
    <textarea [(ngModel)]="fsubject" required id="subject" name="subject" placeholder="Décrivez votre projet..." style="height:200px"></textarea>

    <input type="submit" class="btn btn-primary" value="Envoyer">
    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#exampleModal">Open Modal</button>
  </form>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Votre message a bien été envoyé !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>