
<div class="container-portfolio">

    <div class="banner-portfolio">
        <h1> Portfolio </h1>
        <p><a href="#home" routerLink="/home">Accueil</a> / Portfolio ?</p>
    </div>

   

</div>
<div id="myBtnContainer">
  <button class="btn active" (click)="filterSelection('all')"> Tous</button>
  <button class="btn" (click)="filterSelection('renovation')"> Rénovation</button>
  <button class="btn" (click)="filterSelection('construction')"> Construction</button>
  <button class="btn" (click)="filterSelection('other')"> Autres</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column renovation">
    <div class="content">
      <img src="https://images.unsplash.com/photo-1444419988131-046ed4e5ffd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="renovation" style="width:100%">
      <h4>Rénovation</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column renovation">
    <div class="content">
      <img src="https://images.unsplash.com/photo-1517581177682-a085bb7ffb15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3152&q=80" alt="renovation" style="width:100%">
      <h4>Rénovation</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column renovation">
    <div class="content">
      <img src="https://images.unsplash.com/photo-1543525324-9146d43c2a4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3068&q=80" alt="renovation" style="width:100%">
      <h4>Rénovation</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column construction">
    <div class="content">
      <img src="https://images.unsplash.com/photo-1558464678-2f1570e8d60e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=955&q=80" alt="construction" style="width:100%">
      <h4>Construction</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column construction">
    <div class="content">
      <img src="https://images.unsplash.com/photo-1504964670878-71b73cec0ce1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1945&q=80" alt="construction" style="width:100%">
      <h4>Construction</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column construction">
    <div class="content">
      <img src="https://images.unsplash.com/photo-1523182009640-130ccf847b03?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80" alt="construction" style="width:100%">
      <h4>Construction</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column construction">
    <div class="content">
      <img src="https://images.unsplash.com/photo-1580810734915-93a368ed2073?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80" alt="construction" style="width:100%">
      <h4>Construction</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column other">
    <div class="content">
      <img src="https://images.unsplash.com/photo-1542486876802-60233f4675da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80" alt="other" style="width:100%">
      <h4>Autres</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column other">
    <div class="content">
      <img src="https://images.unsplash.com/photo-1574184420433-97596a59e79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=976&q=80" alt="other" style="width:100%">
      <h4>Autres</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
<!-- END GRID -->
</div>