<title>Home Page JD BTP</title>

<body>
   

  <div class="wrapper">
    <header class="page-header">
      <app-toolbar></app-toolbar>
    </header>
    <main class="page-main">
      <app-slider></app-slider>
      <span></span>
      <div class="prestation-row">
        <app-prestation></app-prestation>
        <app-prestation></app-prestation>
        <app-prestation></app-prestation>
        <app-prestation></app-prestation>
      </div>
      
      <app-clients></app-clients>
    </main>
    <footer class="page-footer">
      <!-- content here -->
    </footer>
  </div>
</body>

<router-outlet></router-outlet>