.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0%;
}
 
.wrapper > * {
  padding: 10px;
  margin: 0;
}
 
.page-main {
  flex-grow: 1;
}

.page-main span{
  height: 100vh;
  width: max-content;
  display: flex;
  position: static;
  background-color: red;
}

  h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
  }
  h1 { font-size: 3.5em; }
  h2 {
    color: #888;
    font-size: 2em;
  }

  .vertical-align {
    display: flex;
    flex-direction: column;
  }

  .img-fluid {
    max-width: 20% !important;
    margin-right: 0px !important;
  }
  
  
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
  }

  /* Prestation row */
  .prestation-row{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
