
<div class="container-prestation">

    <div class="banner-prestation">
        <h1> Nos prestations </h1>
        <p><a href="#home" routerLink="/home">Accueil</a> / Nos prestations</p>
    </div>



<div class="grid-container">
    <div class="grid-item"><mat-card class="example-card mat-elevation-z0 ">
        <img mat-card-image src="../../assets//icons/prestations/building.png" alt="Gros-Oeuvre">
        <mat-card-content>
          <p>
            Gros-Oeuvre / Construction
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="grid-item"><mat-card class="example-card mat-elevation-z0 ">
        <img mat-card-image src="../../assets//icons/prestations/renovation.png" alt="Renovation">
        <mat-card-content>
          <p>
            Rénovation
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="grid-item"><mat-card class="example-card mat-elevation-z0 ">
        <img mat-card-image src="../../assets//icons/prestations/villa.png" alt="Villas">
        <mat-card-content>
          <p>
            Villa, immeubles 12/13/22  logements …
          </p>
        </mat-card-content>
      </mat-card>
    </div>  
    <div class="grid-item"><mat-card class="example-card mat-elevation-z0 ">
        <img mat-card-image src="../../assets//icons/prestations/crossing-roads-cross-top-view.png" alt="VRD">
        <mat-card-content>
          <p>
            VRD (Voirie Route Départemental (ex : Fosse-septique assainissement, routes...)
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="grid-item"><mat-card class="example-card mat-elevation-z0 ">
        <img mat-card-image src="../../assets//icons/prestations/parking-car.png" alt="Parkings">
        <mat-card-content>
          <p>
            Parkings
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="grid-item"><mat-card class="example-card mat-elevation-z0 ">
        <img mat-card-image src="../../assets//icons/prestations/renovation (1).png" alt="Second-Oeuvre">
        <mat-card-content>
          <p>
            Second-Oeuvre (carrelage, faux-plafond, plomberie,peinture, pose fenêtres intérieur/extérieur...)
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div> 

</div>
