

<div>
    <div class="banner1">
        <img src={{test}} alt="IMAGE SLIDER"/>
        <div class="text-box">
            <h1> Silence is not enough</h1>
            <span></span>
            <p> Praesent venenatis purus id convallis facilisis. Praesent rutrum tincidunt felis, at vehicula nulla dapibus vitae. Mauris id tempor libero. Curabitur hendrerit tortor eu sem consectetur, vel posuere erat blandit. Phasellus sit amet malesuada est, at accumsan nunc. Etiam eget massa nulla. Aliquam erat volutpat. Curabitur consequat, ipsum eu condimentum imperdiet, arcu arcu lobortis nisl, eu rhoncus est augue non diam.</p>
        </div>
    </div>
    <div class="banner2">
        <img src={{test2}} alt="IMAGE SLIDER 2"/>
        <div class="text-box">
            <h1> Slider 2</h1>
            <span></span>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non feugiat lacus. Nam orci mi, aliquam non eros id, rhoncus luctus nunc. Sed congue finibus pulvinar. Praesent vehicula sagittis dolor, in facilisis felis luctus eget. In ex magna, vestibulum sit amet sagittis ac, feugiat id massa. Proin egestas in massa non iaculis. Praesent vitae sem erat. Sed hendrerit sem libero, quis dignissim libero tempus a. Praesent id augue viverra justo tincidunt mattis quis sit amet magna. Nunc posuere dolor id ipsum tincidunt, a facilisis magna porta. Vivamus hendrerit sed arcu id scelerisque. Donec diam elit, dictum eu sagittis eget, vehicula a est.

            </p>
        </div>
    </div>
    <div class="banner3">
        <img src={{test3}} alt="IMAGE SLIDER 3"/>
        <div class="text-box">
            <h1> Slider 3</h1>
            <span></span>
            <p> Vivamus id neque non diam aliquam sagittis id sed erat. Quisque nisl sem, placerat eu magna vel, facilisis pretium felis. Morbi vitae ipsum et lacus egestas dapibus quis ac erat. Fusce non orci elementum, elementum quam a, ullamcorper mi. Integer pharetra non felis ut dapibus. Aenean molestie elit ipsum, pharetra gravida mi lacinia at. Phasellus nec est convallis, vestibulum felis non, scelerisque sapien. Etiam diam sem, semper vel varius eu, sollicitudin eu lorem. Vivamus dictum purus nec urna pellentesque condimentum. Maecenas aliquam imperdiet porttitor.</p>
        </div>
    </div>
    <div class="banner4">
        <img src={{test4}} alt="IMAGE SLIDER 3"/>
        <div class="text-box">
            <h1> Slider 4</h1>
            <span></span>
            <p> Vivamus id neque non diam aliquam sagittis id sed erat. Quisque nisl sem, placerat eu magna vel, facilisis pretium felis. Morbi vitae ipsum et lacus egestas dapibus quis ac erat. Fusce non orci elementum, elementum quam a, ullamcorper mi. Integer pharetra non felis ut dapibus. Aenean molestie elit ipsum, pharetra gravida mi lacinia at. Phasellus nec est convallis, vestibulum felis non, scelerisque sapien. Etiam diam sem, semper vel varius eu, sollicitudin eu lorem. Vivamus dictum purus nec urna pellentesque condimentum. Maecenas aliquam imperdiet porttitor.</p>
        </div>
    </div>
</div>


<p> Photo de Rodolfo Quirós, Anamul Rezwan provenant de Pexels</p>