
<div class="container-portfolio">

    <div class="banner-portfolio">
        <h1> Nos réalisations </h1>
        <p><a href="#home" routerLink="/home">Accueil</a> / Nos réalisations</p>
    </div>

</div>
<div id="myBtnContainer">
  <button class="btn active" (click)="filterSelection('all')"> Tous</button>
  <button class="btn" (click)="filterSelection('renovation')"> Rénovation</button>
  <button class="btn" (click)="filterSelection('construction')"> Construction</button>
  <button class="btn" (click)="filterSelection('other')"> Autres</button>
</div>

<app-slide [title]="title_001" [description]="description_001" [photoPaths]="photoPaths_001" [text_side]="text_side_001"></app-slide>
<app-slide [title]="title_002" [description]="description_002" [photoPaths]="photoPaths_002" [text_side]="text_side_002"></app-slide>

<!-- Portfolio Gallery Grid -->
 <!--<div class="portfolio-grids">

  <div class="portfolio-item construction">
    <div class="description-banner">
      <h3>Villa F3 - 120 m2 - Le Robert </h3>
      <p> Terrassement d’une villa F3, 2 chambres, séjour, salle de bain, cuisine, buanderie. </p>
      </div>
      <app-grid [workType]="construction" [photoPaths]="photoPaths_001"></app-grid>      
  </div>
  
  <div class="portfolio-item construction">
<div class="description-banner">
<h3>Fond de forme Dalle - Schoelcher </h3>
<p> Fond de forme Dalle avec mise en place d'un film anti-thermite</p>
</div>
<app-grid [workType]="construction" [photoPaths]="photoPaths_002"></app-grid>
</div>

<div class="portfolio-item other">
<div class="description-banner">
<h3>Pose de fosse septique- Le Robert </h3>
<p> </p>
</div>
<app-grid [workType]="other" [photoPaths]="photoPaths_003"></app-grid>
</div>

<div class="portfolio-item construction">
<div class="description-banner">
<h3>Préparation coffrage long grine - Fort-de-France</h3>
<p> </p>
</div>
<app-grid [workType]="construction" [photoPaths]="photoPaths_004"></app-grid>
</div>

<div class="portfolio-item construction">
<div class="description-banner">
<h3>Préparation fond de forme (route) - Fort-de-France</h3>
<p> </p>
</div>
<app-grid [workType]="construction" [photoPaths]="photoPaths_005"></app-grid>
</div>

<div class="portfolio-item other">
<div class="description-banner">
<h3>Raccordement fosse septique - Robert</h3>
<p> </p>
</div>
<app-grid [workType]="other" [photoPaths]="photoPaths_006"></app-grid>
</div>

<div class="portfolio-item renovation">
<div class="description-banner">
<h3>Rénovation sous-dalle d'une villa - Fort-de-France</h3>
<p> </p>
</div>
<app-grid [workType]="renovation" [photoPaths]="photoPaths_007"></app-grid>
</div>

<div class="portfolio-item other">
<div class="description-banner">
<h3>Réseau électrique - Redoute</h3>
<p> Téléphone avec regard de visite </p>
</div>
<app-grid [workType]="other" [photoPaths]="photoPaths_008"></app-grid>
</div>

</div> -->