
<div class="container-portfolio">

    <div class="banner-portfolio">
        <h1> Nos réalisations </h1>
        <p><a href="#home" routerLink="/home">Accueil</a> / Nos réalisations</p>
    </div>

</div>
<div id="myBtnContainer">
  <button class="btn active" (click)="filterSelection('all')"> Tous</button>
  <button class="btn" (click)="filterSelection('renovation')"> Rénovation</button>
  <button class="btn" (click)="filterSelection('construction')"> Construction</button>
  <button class="btn" (click)="filterSelection('other')"> Autres</button>
</div>

<app-slide [title]="title_001" [description]="description_001" [photoPaths]="photoPaths_001" [text_side]="text_side_001"></app-slide>
<app-slide [title]="title_002" [description]="description_002" [photoPaths]="photoPaths_002" [text_side]="text_side_002"></app-slide>

<app-slide [title]="title_003" [description]="description_003" [photoPaths]="photoPaths_003" [text_side]="text_side_003"></app-slide>
<app-slide [title]="title_004" [description]="description_004" [photoPaths]="photoPaths_004" [text_side]="text_side_004"></app-slide>
<app-slide [title]="title_005" [description]="description_005" [photoPaths]="photoPaths_005" [text_side]="text_side_005"></app-slide>
<app-slide [title]="title_006" [description]="description_006" [photoPaths]="photoPaths_006" [text_side]="text_side_006"></app-slide>
<app-slide [title]="title_007" [description]="description_007" [photoPaths]="photoPaths_007" [text_side]="text_side_007"></app-slide>
<app-slide [title]="title_008" [description]="description_008" [photoPaths]="photoPaths_008" [text_side]="text_side_008"></app-slide>


<!-- Portfolio Gallery Grid -->
 <!--<div class="portfolio-grids">


<div class="portfolio-item renovation">
<div class="description-banner">
<h3>Rénovation sous-dalle d'une villa - Fort-de-France</h3>
<p> </p>
</div>
<app-grid [workType]="renovation" [photoPaths]="photoPaths_007"></app-grid>
</div>

<div class="portfolio-item other">
<div class="description-banner">
<h3>Réseau électrique - Redoute</h3>
<p> Téléphone avec regard de visite </p>
</div>
<app-grid [workType]="other" [photoPaths]="photoPaths_008"></app-grid>
</div>

</div> -->