
  .page-main {
    flex-grow: 1;
    margin: 0 !important; 
  }
  
    /* Prestation row */
    .prestation-row{
      display: flex;
      justify-content: center;
      margin-top: 2%;
    }

    .divider-section {
      height: 3px;
      justify-content: center;
      width: 500px;
      background-color: orange;
      position: absolute;
    }