
    <main class="page-main">
      <app-slider-home></app-slider-home>
      <div class="prestation-row">
        <app-prestation class="fixed" [image]="image1" [title]="title1" [description]="description1"></app-prestation>
        <app-prestation class="fixed" [image]="image2" [title]="title2" [description]="description2"></app-prestation>
        <app-prestation class="fixed" [image]="image3" [title]="title3" [description]="description3"></app-prestation>
        <app-prestation class="fixed" [image]="image4" [title]="title4" [description]="description4"></app-prestation>
      </div>
      <span class="divider-section"></span>
      <app-gallery-home></app-gallery-home>
      <span class="divider-section"></span>
      <app-clients></app-clients>
      <span class="divider-section"></span>
      <app-quote-slideshow></app-quote-slideshow>
    </main>
    
