

    /* Prestation row */
    .prestation-row{
      display: flex;
      flex-direction: row;
    }

    @media screen and (min-width: 600px) {
      .fixed{
        width: 25%;
        padding: 2%;
      }
    }

    @media screen and (max-width: 600px) {
      .prestation-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .divider-section {
      height: 3px;
      justify-content: center;
      width: 50%;
      background-color: orange;
      position: absolute;
    }